.topNavigator{
    width: 100%;
    height: 60px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: space-between;

    #mainTxt,.topNaviContent{
        position: relative;
        transform: translateY(-50%);

    }
    #mainTxt{


    }
    .topNaviContent{
        display: flex;

        li{
            margin-right: 50px;
            a{
                color:black;
            }     
        }

    }


}

.contentWrapper{
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    position: relative;

    #mainForm{
        position: absolute;
        top:50%;
        transform: translate(0%,-50%);
        display: flex;

        #descriptionTxt{
            padding:0;
            margin:0;
            position: fixed;
            transform: translateY(-100%);
            background-color: transparent;
        }
    }

    #arrow{
        position: relative;

        i{
            font-size: 50px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }

    }

    #input{
        margin-right: 200px;
    }
}

